$big: 'Big Shoulders Display', sans-serif;
$ice: 'Iceberg', sans-serif;
$letter: 7.5%;
$transition: all 0.5s;
$green: #7dff68;
$big-fw: 743;
$gray: #7a7a7a;

:root {
  --color: #e84a4a;
  --color-background: rgba(232, 74, 74, 0.7);
  --white: rgb(255, 255, 255);
  --text: 14px;
  --title: 18px;
}
